.content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.reelBox {
  background-color: #fff;
  padding: 20px;
  /* border-radius: 10px; */
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #334155;
  justify-content: space-between;
  align-items: center;
}

.rowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  width: 30px;
  height: 30px;
  background-color: #3b82f6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  width: 50px;
}

.textarea {
  width: 35%;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  border: 1px solid #334155;
  resize: none;
  height: 100px;
}

.flexBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
}

.box {
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  font-weight: 500;
  border: 1px solid #334155;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.addBtn {
  background-color: #3b82f6;
  color: white;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.buttonBox {
  padding: 0px 20px 20px 20px;
}

.reelsbutton {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.reelsContent {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.upLoad {
  padding: 10px 30px;
  cursor: pointer;
}

.uploadText {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  color: black;
}
